/OmegaT/omegat/project_stats.txt
/OmegaT/omegat/last_entry.properties
/OmegaT/omegat/*.tmp
/OmegaT/omegat/*.bak
/OmegaT/dictionary/ignore.txt
/OmegaT/dictionary/oxfordjm-ec.dict
/source_dir/documentation/PureBasic_chs.chm
/source_dir/documentation/a.log
/PureBasichelp
/PureBasic.chm
*.new
*.old
/target_dir/documentation/hhp
